<div class="row center-xs">
    <div class="col-lg-8">

        <div class="full-hp-bar">
            <div class="hp-bar-{{player.player}}"></div>
        </div>

        <p class="start-xs health-bar" id="health-1" *ngIf="player.player === 1">
            {{player.hp}} / {{player.fullHp}}
        </p>

        <p class="start-xs health-bar" id="health-2" *ngIf="player.player === 2">
            {{player.hp}} / {{player.fullHp}}
        </p>

        <img [ngClass]="player.player == 1 ? 'char-portrait-1' : 'char-portrait-2'"
            src="assets/portraits/{{player.portrait}}.png" id="{{img}}">


        <h1 class="center-xs" id="damage-1" class="damage" *ngIf="player.player === 1"></h1>
        <h1 class="center-xs" id="damage-2" class="damage" *ngIf="player.player === 2"></h1>

        <br>

        <div *ngIf="player.player === 1 && hideBtn" id="btn-1" class="btn-1">
            <div class="menu">
                <section>

                    <div class="menu-atack">
                        <span (click)="displayMenuAttack()">Attack</span> 
                        <div class="sub-menu" *ngIf="menuAttack">
                            <p *ngFor="let attack of player.attacks; let i = index" (click)="attackBtn(player.player, i + 1)">{{attack.name}}</p>
                        </div>
                    </div>

                    <div class="menu-atack">
                        <span (click)="displayMenuSkill()">Skills</span> 
                        <div class="sub-menu" *ngIf="menuSkills">
                            <p *ngFor="let skill of player.skills; let i = index" (click)="attackSkill(player.player, skill.name)">{{skill.nameDisplay}}</p>
                        </div>
                    </div>

                    <div class="menu-atack">
                        <span (click)="displayMenuItem()">Item</span> 
                        <div class="sub-menu" *ngIf="menuItem">
                            <p *ngFor="let item of player.items; let i = index" (click)="attackBtn(player.player, i + 1)">{{item.name}}</p>
                        </div>
                    </div>

                    <div>
                        Defend
                    </div>

                    <div>
                        Flee
                    </div>
                    
                </section>
            </div>
        </div>

    </div>
</div>


<div class="skill" [innerHTML]="element" [ngStyle]="'10%'"></div>