<div class="row center-xs">
    <div class="col-lg-12">

        <div class="full-hp-bar">
            <div class="hp-bar-{{player.player}}"></div>
        </div>

        <p class="start-xs health-bar" id="health-1" *ngIf="player.player === 1">{{player.hp}}</p>

        <p class="start-xs health-bar" id="health-2" *ngIf="player.player === 2">{{player.hp}}</p>

        <img [ngClass]="player.player == 1 ? 'char-portrait-1' : 'char-portrait-2'"
            src="assets/portraits/{{player.portrait}}.png" id="{{img}}">


        <h1 class="center-xs" id="damage-1" class="damage" *ngIf="player.player === 1"></h1>
        <h1 class="center-xs" id="damage-2" class="damage" *ngIf="player.player === 2"></h1>

        <br>

        <div class="row center-xs">
            <div *ngFor="let skill of player.skills; let i = index" id="btn-1">
                <div *ngIf="hideBtn" class="btn-actions">
                    <button class="col-lg-12" (click)="attackBtn(player.player, i + 1)" *ngIf="player.player === 1">
                        {{skill.name}}
                    </button>
                </div>

            </div>
        </div>

        <!-- <button id="btn-2" (click)="attackBtn(player.player)" *ngIf="player.player === 2">Attack</button> -->
    </div>
</div>